{% extends 'base.html' %}

{% block title %}
  {{ super() }} - About
{% endblock %}

{% block app_content %}
  <div class="container">
    <div class="row">
    <div class="col-md-12 ">
      <h1>About Us</h1>
      <div class="row">
        <div class="col-md-3">
          <img class="profile" src="../static/images/D_Corvi.jpg" alt="avatar" height="300" width="400">
          <h5 class="abouttitle">Dennis M. Corvi, CPA, Managing  Director</h5>
          <a href="mailto:dennis.corvi@massbaystaffing.com">dennis.corvi@massbaystaffing.com</a>
        </div> <!-- col-md-3 -->
      <div class="col-md-6 ">
      <p>
        Dennis has over 20 years of experience recruiting and consulting with a broad range of organizations including Healthcare, Software, Bio-Tech, Manufacturing, Non-Profit and Real Estate. Dennis has managed several hundred searches from CFO to Accountant. He is an expert in advising senior professionals in career development, compensation and organizational matters.</p>

        <p>
        During  his 22 year  career  in recruiting Dennis worked  as a recruiter in Direct Hire, Temporary  and  Management Consulting as well as various management roles for an international staffing firm. Dennis was a top producer and became a member of the Presidents Club in recognition of being one of the top ten producers in the Northeast. Dennis also  worked as  a  Business Development Director for the Direct Hire Division for the New England and Mid Atlantic Region as well as responsibilities for  offices in the UK, Ireland, France, Belgium, Germany and Canada.</p>

        <p>
         Dennis started his professional career in public accounting in the Boston audit practice at Arthur Andersen and left as a Tax Senior. He left to be Controller of EDIC, a Public Authority which developed three industrial parks and rose to become CFO. Dennis became the Regional Controller for Lincoln Property Company, the second largest Real Estate Developer in the US which was developing the 101 Arch Street Building.</p>

        <p>
        Dennis holds a Bachelor of Science Degree in Business Administration with High Honors from Northeastern University. He was awarded a Certificate of Achievement from the Mass Society of Certified Public Accountants for passing the CPA exam for passing the exam on his first sitting.</p>
      </div><!-- end col-md-6 -->
    </div><!-- end row -->
      </div> <!-- end col-md-12 -->
    </div> <!-- end row -->
  </div> <!-- end container -->
{% endblock %}
