{% extends 'base.html' %}

{% block title %}
  {{ super() }} - Newsletter
{% endblock %}

{% block app_content %}
  <div class="container">
    <div class="row">
    <div class="col-md-12 ">
      <h1>Newsletter</h1>


  <div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="true">Profile</a>

      <a class="nav-link" id="v-pills-interview-tab" data-toggle="pill" href="#v-pills-interview" role="tab" aria-controls="v-pills-interview" aria-selected="false">Interview Tips</a>

      <a class="nav-link" id="v-pills-coffee-tab" data-toggle="pill" href="#v-pills-coffee" role="tab" aria-controls="v-pills-coffee" aria-selected="false">Five Minute Coffee Break</a>

      <a class="nav-link" id="v-pills-panmass-tab" data-toggle="pill" href="#v-pills-panmass" role="tab" aria-controls="v-pills-panmass" aria-selected="false">Pan-Mass Challenge</a>

      <a class="nav-link" id="v-pills-jobs-tab" data-toggle="pill" href="#v-pills-jobs" role="tab" aria-controls="v-pills-jobs" aria-selected="false">Positions Available</a>

      <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Tips</a>


        <div class="sidebar">
          <h5 class="links">Helpful Links</h5>
          <p>
            <a href="http://www.careerbuilder.com/Article/CB-2959-Resumes-Cover-Letters-Qualifications-versus-duties-Why-knowing-the-difference-matters/?siteid=cbhandle&utm_source=buffer&buffer_share=9b92c">Qualifications versus Duties</a>
            <br><br>
            <a href="http://www.careerbuilder.com/Article/CB-3233-Job-Search-Strategies-3-myths-about-older-job-seekers/?siteid=cbhandle&utm_source=buffer&buffer_share=a04ca">3 Myths of Older Job Seekers</a>
            <br><br></p>
          </div> <!-- ends side bar -->


    </div>
  </div>



  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">

    <div class="row">
        <div class="col-md-4">
          <img class="profile" src="../static/images/D_Corvi.jpg" alt="profile">
          <h5 class="abouttitle">Dennis M. Corvi, CPA, Managing  Director</h5>
          <a class="stretched-link emaillink" href="mailto:dennis.corvi@massbaystaffing.com">dennis.corvi@massbaystaffing.com</a>
        </div>
    <div class="col-md-7 ">
        <p>
        Dennis has over 20 years of experience recruiting and consulting with a broad range of organizations including Healthcare, Software, Bio-Tech, Manufacturing, Non-Profit and Real Estate. Dennis has managed several hundred searches from CFO to Accountant. He is an expert in advising senior professionals in career development, compensation and organizational matters.</p>
        <p>
        During  his 22 year  career  in recruiting Dennis worked  as a recruiter in Direct Hire, Temporary  and  Management Consulting as well as various management roles for an international staffing firm. Dennis was a top producer and became a member of the Presidents Club in recognition of being one of the top ten producers in the Northeast. Dennis also  worked as  a  Business Development Director for the Direct Hire Division for the New England and Mid Atlantic Region as well as responsibilities for  offices in the UK, Ireland, France, Belgium, Germany and Canada.</p>
        <p>
         Dennis started his professional career in public accounting in the Boston audit practice at Arthur Andersen and left as a Tax Senior. He left to be Controller of EDIC, a Public Authority which developed three industrial parks and rose to become CFO. Dennis became the Regional Controller for Lincoln Property Company, the second largest Real Estate Developer in the US which was developing the 101 Arch Street Building.</p>
        <p>
        Dennis holds a Bachelor of Science Degree in Business Administration with High Honors from Northeastern University. He was awarded a Certificate of Achievement from the Mass Society of Certified Public Accountants for passing the CPA exam for passing the exam on his first sitting.</p>
      </div>
    </div>

      </div>
      <div class="tab-pane fade" id="v-pills-interview" role="tabpanel" aria-labelledby="v-pills-interview-tab">
        <h5>Interview Tips</h5>

        <ol>
          <li>Use the company website, search engines and social and business networking sites to research the company, the position, and the people you will be meeting.</li>

          <li>Prepare at least three questions that are relevant and important to the company and the person you are interviewing.</li>

          <li>Review your work history and experience to highlight accomplishments that will be relevant to this position.</li>

          <li>Be on time but not more than 15 minute early and dress conservatively.</li>

          <li>Be upbeat and positive, confident but not cocky. Always maintain eye contact with your interviewer.</li>

          <li>Always begin each answer with a positive statement of what you know. Avoid starting with negative statements such as “I haven’t used that software.” Instead turn a negative into a positive statement of what you know. “I have used PeopleSoft. I have installed PeopleSoft on time and under budget. Although I have not used your software I know I will learn it as quickly as I learned PeopleSoft.”</li>

          <li>Don’t ask questions about Salary, Benefits or Working Conditions on your first interview.</li>

          <li>Send a thank you note. It is easy to send an email, but a hand written note shows you took extra time and reinforces your interest in the job. Have someone review the note before sending,
          </li>
      </ol>

      </div>

      <div class="tab-pane fade" id="v-pills-coffee" role="tabpanel" aria-labelledby="v-pills-coffee-tab">
                <h5>Dennis's Five Minute Coffee Break</h5>
        <p>
          Don't forget to take a few minutes off during your busy job search!
        </p>
                <h6>Video of the Month</h6>
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/AcL0MeVZIxM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="tab-pane fade" id="v-pills-panmass" role="tabpanel" aria-labelledby="v-pills-panmass-tab">
        <h5>Pan-Mass Challenge</h5>

      <p>I am so proud and happy to report that my daughter Christina completed the 190 miles of the PanMass Challenge in August 2013 and successfully raised her goal of $4,300 for cancer research.</p>

      <p>Now she wants to do it again!!</p>

      <p>Thanks to all our friends and family for your contributions to this great cause.</p>

      <p>
        <a href="http://www.pmc.org/profile/CC0309#.UA9IphNvrCs.mailto">Check out her profile page to donate</a>
      </p>
      </div>

      <div class="tab-pane fade" id="v-pills-jobs" role="tabpanel" aria-labelledby="v-pills-jobs-tab">
        <h5>Available Positions</h5>
        <p>Some positions</p>
      </div>

      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
        <h5>Tips</h5>
        <p>Some general job search tips.</p>
      </div>

    </div>
  </div>



</div>
      </div>
    </div>
  </div>
{% endblock %}
